<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bike Shops</title>
</head>
<body>
  <h1>Bike Shops</h1>

  <iframe
  width="450"
  height="250"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB1mbQHleVvGLhxIg8zRtwHDk6d_OgzXk4&center=37.4218,-122.0840&origin=place_id:ChIJT2x8Q2BZwokRpBu2jUzX3dE&q=Bend+Oregon" allowfullscreen>
</iframe>

</body>
</html>